//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here
@import "big-number";

.govuk-template__body {
  background-color: black;
}

.govuk-header {
  background-color: black;
  border-color: black;
}

.govuk-width-container * {
  color: white !important;
}

.govuk-footer {
  display: none;
}