{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <h2 class="govuk-heading-m">June 2024</h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">GOV.UK Pay</h2>
      <div class="gem-c-big-numbers">
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            £5.3B
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            total amount processed
          </span>
        </div>
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            84M
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            total transactions
          </span>
        </div>
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            1078
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            live services
          </span>
        </div>
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            400
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            organisations
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">GOV.UK Forms</h2>
      <div class="gem-c-big-numbers">
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            {{ ((121089*2)/60/7) | round(0, "floor") }}
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            processor days saved
          </span>
        </div>
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            121,089
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            submissions
          </span>
        </div>
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            53
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            forms published
          </span>
        </div>
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            45
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            organisations
          </span>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">GOV.UK Notify</h2>
      <div class="gem-c-big-numbers">
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            £63M
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
           savings FY23/24
          </span>
        </div>
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            8.8B
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            total messages sent
          </span>
        </div>
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            8,701
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            live services
          </span>
        </div>
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            1,558
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            organisations
          </span>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">GOV.UK Design System</h2>
      <div class="gem-c-big-numbers">

        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            £38M
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            benefits for FY 23/24
          </span>
        </div>
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            135,547
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            weekly installs
          </span>
        </div>
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            9M
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            total downloads
          </span>
        </div>
      </div>
    </div>
  </div>

  {#
  <!-- Forms internal source: https://docs.google.com/spreadsheets/d/1iXwF8Monl4jP3Iu1a9c3PTSYqgccT8s_0s5M4VgORY8/edit#gid=1099651978 -->
  <p>More data on </p>
  <ul>
    <li><a href="https://www.payments.service.gov.uk/performance">GOV.UK Pay Performance data dashboard</a></li>
    <li><a href="https://www.notifications.service.gov.uk/features/performance">GOV.UK Notify Performance data dashboard</a></li>
  </ul>
  #}

  {% endblock %}
