{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <h2 class="govuk-heading-m">November 2023</h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">GOV.UK Pay</h2>
      <div class="gem-c-big-numbers">
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            16
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            new services
          </span>
        </div>
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            1.6m
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            payments
          </span>
        </div>
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            £100m
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            payment value
          </span>
        </div>
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            £4bn
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            total payments
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">GOV.UK Forms</h2>
      <div class="gem-c-big-numbers">
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            17
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            forms published
          </span>
        </div>
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            12074
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            submissions
          </span>
        </div>
        <div class="gem-c-big-number govuk-!-margin-bottom-8">
          <span class="gem-c-big-number__value">
            75
          </span>
          <span class="govuk-visually-hidden">&nbsp;</span>
          <span class="gem-c-big-number__label">
            processor days saved
          </span>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">GOV.UK Notify</h2>
      <div class="gem-c-big-number govuk-!-margin-bottom-8">
        <span class="gem-c-big-number__value">
          £63m
        </span>
        <span class="govuk-visually-hidden">&nbsp;</span>
        <span class="gem-c-big-number__label">
          projected savings FY23/24
        </span>
      </div>
    </div>

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">GOV.UK Design System</h2>
      <div class="gem-c-big-number govuk-!-margin-bottom-8">
        <span class="gem-c-big-number__value">
          £38m
        </span>
        <span class="govuk-visually-hidden">&nbsp;</span>
        <span class="gem-c-big-number__label">
          projected benefits for FY 23/24
        </span>
      </div>
    </div>
  </div>

  {% endblock %}